<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>teacher's hack 2</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"/>
  </head>
  <body>

    <!-- Form -->
    <div class="container">
      <form action="/send" method="POST">
        <div class="six columns">
          <label for="exampleRecipientInput">Select Card Design Number</label>
          <select class="u-full-width" id="exampleRecipientInput" name="card_no" >
            <option value="1">Card 1</option>
            <option value="2">Card 2</option>
            <option value="3">Card 3</option>
          </select>
          <label>Insert Teacher's Name here</label>
          <label>
              <textarea name="title" placeholder="text here"  rows="5" cols="40"></textarea>
              <input name="title_color" type="color" id="colorpicker1" value="#000000">
          </label>
          <label>Insert message here</label>
          <label>
              <textarea name="subtitle" placeholder="text here"  rows="5" cols="40"></textarea>
              <input name="subtitle_color" type="color" id="colorpicker2" value="#000000">
          </label>
          <div>
            <input type="submit" value="Submit" id="submit_btn" style="background-color: #A7C7E7"/>
          </div>
        </div>

        <br />

        <div class="six columns">
          <label>
            Right click on image to save!
          </label>
          <div>
            <img src="{{ image_file }}" alt="Generate digital card goes here" width="100%" height="100%">
          </div>
          <div>
            <a href="/">Click here to refresh page</a>
          </div>
        </div>
      </form>
    </div>

  </body>
</html>